{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load static %}  <link rel="stylesheet" type="text/css" href="{% static 'summernote/dist/summernote.css' %}">

{% block page_header %}
<div class="header-container">
    <div class="row">
      <div class="col text-center">
        <h2 class="text-black-blog mt-3">Add a Blog Post</h2>
        <hr>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<body style="background: none;">
    

    <div class="container page-content">
        <div class="row">
            <div class="col-12 col-md-12">
                <form method="POST" action="" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <br>
                    <div class="text-left">
                        <a href="{% url 'blog' %}" class="text-success btn" style="border: 1px solid rgb(70, 255, 92);">Cancel</a>
                        <button class="text-success btn" style="border: 1px solid rgb(70, 255, 92);" type="submit">Add Blog Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
    <script src="{% static 'summernote/dist/summernote.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#content').summernote(); 
        });
    </script>
{% endblock %}