{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container">
    <div class="row">
      <div class="col text-center">
        <h2 class="text-black-blog mt-3" style="font-size: 2.5rem;">The Blog</h2>
        <hr>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<body style="background: none;">
    <div class="container mt-2">
        <div class="row">
            <div class="col-12 left">
                <div class="row">
                    {% for post in post_list %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if post.featured_image %}
                                        <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                    {% else %}
                                    {% endif %}
                                </div>
                                <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                                    <h2 class="card-title pt-1">{{ post.title }}</h2>
                                    <p class="card-text">{{ post.excerpt }}</p>
                                </a>
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                                <p><i class="far fa-heart"></i> {{ post.number_of_likes }}</p>
                                <hr />
                                <p class="card-text text-muted h6">{{ post.created_on}}</p>
                                {% if request.user.is_superuser %}
                                <div class="super-user-button-container">
                                    <a href="{% url 'edit_post' post.id %}" class="btn btn-outline-black rounded-0">Edit post</a>
                                    <a href="{% url 'delete_post' post.id %}" class="btn btn-outline-black rounded-0">Delete post</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation mb-5">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-black rounded-0">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-black rounded-0"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    <br>
</body>
{%endblock%}