{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<body id="home-body">
    <div class="container h-100">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <h1 class="logo-font pt-5" id="landing-logo" style="color: rgb(70, 255, 92);">The purest quality protein is here.</h1>
                <div class="my-5">
                    <h5>
                        <a href="{% url 'products' %}" class="btn btn-black rounded-0">Shop Now</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</body>
    {% endblock %}