html {
    height: 100%;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    height: calc(100vh - 164px);
    font-family: 'Lato';
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-strong,
.fa-search,
.fa-user,
.fa-shopping-bag,
.shop-now-button,
.fa-star,
.fa-regular,
.fa-lg,
#star,
.text-purp {
    color: rgb(70, 255, 92);
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    min-width: 100px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; 
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name="q"]::placeholder {
    color: #6c757d;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 140px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

#signout-btn {
    padding-top: 250px;
}

footer,
#footer {
    width: 100%;
}

#footer-header {
    font-size: 40px;
}

#footer-subheader {
    font-size: 20px;
}

.footer-content-container {
    border-right: 1px solid rgb(70, 255, 92);
    padding: 5px;
}

.footer-content-container:nth-child(3) {
    border: none;
}


#mc_embed_signup {
    background-color:#fff;
    clear:left; 
    font:14px Helvetica,Arial,sans-serif; 
    width: 400px;
}

.mc-field-group {
    padding-bottom: 0;
}

.allauth-form-innect-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-innect-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-innect-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-innect-content input::placeholder {
    color: #6c757d;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; 
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.post-link {
    color: black;
}

.post-link:hover {
    color: rgb(70, 255, 92);
    text-decoration: none;
}

.social li a i {
    color: rgb(70, 255, 92);
}


/* -------------------------------- Media Queries */

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #landing-logo {
        font-size: 2.5rem;
    }

    .message-container {
        right: 155px;
    }


}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .message-container {
        right: 200px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .message-container {
        right: 290px;
    }

    footer {
        width: auto;
    }
    .footer-content-container:nth-child(1){
        border-top: none;
    }

    .footer-content-container {
        border: none;
    }

    .footer-content {
        border-top: 1px solid rgb(70, 255, 92);
    }

    .footer-bottom {
        border-top: 1px solid rgb(70, 255, 92);
    }

    .shop-now-button {
        max-width: 100px !important;
    }

    



    #landing-logo {
        font-size: 2.5rem;
    }

    .ml-3, .mx-3 {
        margin-left: 0 !important;
    }

    #mc_embed_signup{
        width: 100%;
    }
    

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 1.9rem;
    }

    .nav-link {
        padding: 0.16rem;
    }

    .nav-link i.fa-lg {
        font-size: 1.1rem;
    }

    .navbar-toggler {
        padding: .5rem .5rem;
        font-size: 1.1rem;
    }

    #delivery-banner h4 {
        font-size: .8rem
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .376rem .376rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .76rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .4rem !important;
    }

    #blog-mobile {
        display: flex;
        flex-direction: column;
    }

    .footer-content-container {
        border-right: none;
        border-bottom: 1px solid rgb(70, 255, 92);
        padding: 5px;
        text-align: center;
    }

    #footer-header {
        font-size: 1.8rem;
    }

    #footer-subheader {
        font-size: 1rem;
    }
    
    .footer-content-container:nth-child(1) {
        border-top: 1px solid rgb(70, 255, 92);
    }

    .social {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    .header-container {
        padding-top: 116px;
    }
}



