{% comment %}

{% load static %}
{% block content %}

<footer id="footer" class="mt-5" style="background: black;" >
    <div class="container-xl d-flex flex-column">
        <span class="logo-font text-white my-0 text-center pt-3" id="footer-header">Pure <strong class="logo-strong">Protein</strong> Powders</span>
        <p class="text-white text-center mt-2" id="footer-subheader">The purest quality of protein is here.</p>
        <hr style="border: 0;" >
        <div class="footer-content row row-reverse d-flex flex-row">
            <div class="col-md-4 footer-content-container">
                <h3 class="text-white mb-3">Products & Services</h3>
                <ul class="list-unstyled">
                    <li>
                        <a class="text-white" href="{% url 'products' %}">All Products</a>
                    </li>
                    <li>
                        <a class="text-white" href="">Blog</a>
                    </li>
                    <li>
                        <a class="text-white" href="">Expect advice request</a>
                    </li>
                </ul>
                
                <ul class="list-inline social d-flex flex-row align-content-center justify-content-spa">
                    <li>
                        <a href="" rel="nofollow" target="_blank" aria-label="Facebook">
                            <i class="fab fa-facebook-f interactive-color"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" rel="nofollow" target="_blank" aria-label="Instagram">
                            <i class="fab fa-instagram interactive-color"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" rel="nofollow" target="_blank" aria-label="Twitter">
                            <i class="fab fa-twitter interactive-color"></i>
                        </a>
                    </li>
                </ul> 
            </div>
            <div class="col-md-4 footer-content-container">
                <h3 class="text-white mb-3">Contact Us</h3>
                <ul class="list-unstyled text-white">
                    <li><i class="fa-solid fa-phone text-white mr-2"></i> +123 456 789</li>
                    <li><i class="fa-solid fa-envelope text-white mr-2 mt-3"></i> pureproteinpowders@gmail.com</li>
                    <li><i class="fa-solid fa-map-pin text-white mr-2 mt-3"></i> 9 Street Road, Dublin, Ireland</li>
                </ul>
            </div>
            <div class="col-md-4 footer-content-container">
                <h3 class="text-white mb-3">Keep up to date!</h3>
                <p class="subtitle text-white">Subscribe to our newsletters to receive the latest updates and offers!</p>

            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <div class="copyright">
                <p class="text-white"><i class="far fa-copyright"></i> All Rights Reserved | Pure Protein Powders</p>
            </div>
        </div>
    </div>
</footer>

<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-white mx-auto my-auto"></i>
    </a>	
</div>

{% endblock %}

{% block postloadjs %}
<script>
    $('.btt-link').click(function(e) {
        e.preventDefault();
        $('html, body').animate({
            scrollTop: 0
        }, 1000);
    });
</script>
<script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
{% endblock %}

{% endcomment %}