{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Your Wishlist</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if wish_items.exists %}
                <!-- xs-sm device -->
                    <div class="d-block d-md-none">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>

                            {% for item in wish_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        {% include "product-image.html" %}
                                    </td>
                                    <td class="py-3">
                                        {% include "product-info.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 text-left"> <form action="{% url 'remove_from_wishlist' item.product.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <!-- md-lg device -->
                    <div class="table-responsive rounded d-none d-md-block">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>

                            {% for item in wish_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        {% include "product-image.html" %}
                                    </td>
                                    <td class="py-3">
                                        {% include "product-info.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 text-left"> <form action="{% url 'remove_from_wishlist' item.product.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-danger">
                                          <i class="fas fa-trash-alt"></i>
                                        </button>
                                      </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                <div class="alert alert-info">
                    No items in wishlist, keep shopping to add more!
                </div>
                {% endif %}

                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
            </div>
        </div>
    </div>
{% endblock %}
